<center>
	View Books : <select ng-model="viewbookoption">
		<option value="All" selected="selected">All Books</option>
		<option value="Available">Available Books</option>
	</select> 
	<br> 
	Search : <input ng-model="query" />
	<table>
		<tr>
			<th>Sl no.</th>
			<th>Image</th>
			<th>Details</th>
		</tr>
		<tr
			ng-repeat="book in books | filterunissued :viewbookoption | filter:query">
			<td>{{ $index+1 }}</td>
			<td><img src="{{ book.imgUrl }}"
				style="height: 150px; width: 150px;" /></td>
			<td>Book Id : {{ book.bookId }} <br>
				 Book Title : {{ book.bookTitle }} <br> 
				 Book Topic : {{ book.bookTopic }} <br>
				Book Author : {{ book.bookAuthor }} <br> 
				Book Cost : {{ book.bookCost | currency:"Rs " }} <br>
			</td>
		</tr>
	</table>
</center>